* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}


/*------------navbar--------------*/

  
.navbar{
  padding:2% 0%!important;
  
}
.navbar-nav{
  width:80%!important;
  text-align: center!important;
  justify-content:center!important;
 
}
.navbar-nav .nav-item{
  width:20%;
  
  
}
.navbar-nav .nav-item .nav-link{
 color:black!important;
 font-weight:600;

}



@media only screen and (max-width:2000px) and (min-width:900px){
.navbar{
  padding:2% 6%!important ;
}
.navbar-nav {
  width:100%;
 margin:0% auto
}

} 


@media screen and (max-width:1200px){
 
  .container, .container-md, .container-sm {
    max-width: 1220px!important;
}

  .form-inline .navbar-img2{
    width:100%;
    height:18%;
 }

  .navbar-brand{
    width:18%;
    height:18%;
  }

}







@media screen and (max-width:992px){

  .container, .container-md, .container-sm {
    max-width: 1060px!important;
}
 
     .navbar{
       padding-left:0%!important;
       padding-right:0%!important;
}
       .navbar-nav .nav-item{
         width:25%;
        font-size:16px;
    }
      .navbar-nav .nav-item .nav-link{
      color:black!important;
       padding:0!important
      } 

           .form-inline .navbar-img2{
            width:100%;
           height:18%;
               padding-left:20px!important
}
     }









@media screen and (max-width:768px){ 
  .container, .container-md, .container-sm {
    max-width: 820px!important;
}
  .navbar-brand{
    width:25%;
    height:18%;
  }
  .navbar-nav {
    width:100%!important;
    height:100%;
    padding:5% 0%;
  }
  .navbar-nav .nav-item{
  width:100%!important;
  padding:1% 1%;
  text-align:left!important;
  font-size:15px!important;
   }
    .form-inline .navbar-img2{
     display:none!important;
       }
}




.Section1-portfolio{
  padding-top:5%!important;
  
}


@media screen and (max-width:576px){
  .navbar-brand{
    width:35%;
  }
}

@media screen and (max-width:320px){
  .navbar-brand{
    width:40%;
  }
}


/*-------navbar------------*/

/*------Animation---------------*/

@keyframes my-animation {        
  from {
    opacity : 0;
    left :-500px;
  }
  to {
    opacity : 1;
    left : 0;
  }      
}

.run-animation {
  position: relative;
  animation: my-animation 2s ease;
}

#logo {
  text-align: center;
  font-family : Palatino Linotype, Book Antiqua, Palatino, serif;
}





@keyframes my-animations {        
  from {
    opacity : 0;
    top :-500px;
  }
  to {
    opacity : 1;
    top : 0;
  }      
}

.run-animation2{
  position: relative;
  animation: my-animations 2s ease;
}

#logo2 {
  text-align: center;
  font-family : Palatino Linotype, Book Antiqua, Palatino, serif;
}



/*-------Animation---*/



.Section1-index{
  min-height:100vh;
  background-image: url("./assets/banner.jpg"); 
  
}

.Section1-index>div{
  padding:0% 5%;
  display: flex;
  flex-wrap: nowrap;
  
}

.we-make{
  background-image: url("./assets/Ellipse.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  width:100%;
  height:100vh;
} 





.cont .row{
  width:50%;
  position: absolute;
 
}

.cont .row .col h1{
  font-size: 70px;
  font-weight: 700;
  font-family: "montserrat";
  letter-spacing:-3px;
  text-align: left;
}

.cont .row .col p{
  width:80%;
  padding:20px 0px;
  text-align: left;
}

.cont .row .col h1>span{
background-color: #A7C5F9;
padding:0 10px
}


.header-wrapper-right-image {
  background-image: url("./assets/bannerman.png");
  width: 50%;
  height: 100vh;
  position:relative;
  background-position:center center;
  background-repeat: no-repeat;
  background-size:60vh;



}




@media screen and (max-width:1650px){

  .header-wrapper-content .cont {
    width: 80%!important;
     }
 
   .header-wrapper-content h1{
     font-size: 55px;
   }
  
}


@media screen and (max-width:1442px){

 
  
 .header-wrapper-right-image {
  height:100vh;
  background-size:50vh;
 }
 .Section1-index{

margin:0;

 }

 .we-make{

height:100vh;
background-position:center center;
 }


 .cont .row .col h1{
  font-size:55px;
  font-weight: 800;
  
 }


} 

@media screen and (max-width:1280px){

  
 
  
 .header-wrapper-right-image {
  height:100vh;
  background-size:contain;
 }
 

 .Section1-index{
  min-height:90vh!important;
}

 

   
}
@media screen and (max-width:1160px){

 
.cont .row .col h1{
  font-size: 50px;
  font-weight: 800;
}




.header-wrapper-right-image {
  height:100vh;
  background-size:38vh;
 }
 .Section1-index{
  min-height:80vh!important;
}

}

@media screen and (max-width:992px){
  .cont .row{
    width:50%;
 }

  .cont .row .col h1{
    font-size:35px;
    font-weight: 800;
  }
  
.we-make{
  height:80vh;
}
  .header-wrapper-right-image {
  min-height: 50vh;
  height:80vh;

  }

 
  

}



@media screen and (max-width:776px){
  .Section1-index>div{
    padding:0% 5%;
    display: flex!important;
    flex-wrap:wrap!important;
    
  }

  .we-make{
    background-size: contain;
    background-position: center center;
    height:95vh
  }
  .header-wrapper-right-image {
  width:100%;
  height:50vh
  }

  .cont .row{
    width:80%;
    padding-left:30px
 }

   
}

@media screen and (max-width:576px){

  .header-wrapper-right-image {
    height:50vh;
  
    }
   
.we-make{
  height:70vh;
}

  .cont .row{
    width:70%;
    padding-top:30px;
    padding-left:20px
  }
  .cont .row .col h1{
  font-size:30px;
  }
  .cont .row .col p{
    font-size:15px;
  }

}


@media screen and (max-width:468px){
  .header-wrapper-right-image {
    height:50vh;
  
    }

    .cont .row{
      width:70%;
    }

    .cont .row .col h1{
      font-size:20px;
      letter-spacing: 0;
      text-align: left;
      }
      .cont .row .col p{
        font-size:12px;
        text-align: justify;
      }
   
.we-make{
  height:50vh;
  transform: translateY(50px);

}


}



@media screen and (max-width:371px){
  

    .cont .row{
      width:90%;
      padding-left:14%      
    }

    .cont .row .col h1{
      font-size:15px;
      letter-spacing: 0;
      text-align: left;
      transform: translateY(20px);
      }
      .cont .row .col p{
        font-size:11px;
        width:90%;
        /* bordeR:2px solid red */
        /* text-align: justify; */
        
      }
         
.we-make{
  height:40vh!important;
  transform: translateY(50px);

}
   

}



/*------------------------Section 2---------Start-------------*/
.Section2{
  margin-top:10%;
  margin-bottom:5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  padding: 5% 0;
}


.Section2-left1{
  width: 50%;
  padding-left:11%;
  padding-right:10%;
}



.Section2-left1 :first-child{
  font-weight: 800; 
  font-size:100px;
  font-family:"Montserrat";
  text-align: left;

}


.Section2-left1 :last-child{
text-align: left!important;
}

@media screen and (max-width:1600px){
  .Section2-left1 :first-child{
  text-align: left;
  }
  .Section2-left1 :last-child{
text-align: left!important;
  }
}


@media screen and (max-width:1100px){
  .Section2-left1 :first-child{
  font-size:75px!important;
  }
  .Section2-left1 :last-child{
    font-size:30px;
      }
}

@media screen and (max-width:776px){


  .Section2-left1{
    width:100%;
    
  }


  .Section2-left1 :first-child{
    font-weight:800;
    font-size:70px!important;
    font-family:"Montserrat";
  }
  .Section2-left1 :last-child{
    font-size:28px;
    padding:3% 0%!important;
    text-align: left!important;

  }

 

}



.Section2-left1 :last-child{
  color:#022249;
  font-family:"Montserrat";
  font-weight: 400;
  text-align:center;
  padding: 0;margin: 0;
}

.Section2-right1{
  width: 50%;
  padding-left:5%;
  

}
.Section2-right1 img{
height: 80%;
width: 80%;
}
@media screen and (max-width:776px){
.Section2-right1{
  width:100%!important;
  text-align: center;
  padding:8% 0
}
.Section2-right1 img{
  width:60%!important;
}
}

@media screen and (max-width:576px){
  .Section2{
    flex-wrap: wrap;
    justify-content: center;
    height:100vh;
  }
  .Section2-left1{
    width: 100%;
    text-align: center;
  }
  .Section2-right1{
    width: 100%;
    text-align: center;
  }

  .Section2-left1 :first-child{
font-size:60px!important;
text-align: center;
  }

  .Section2-left1 :last-child{
  text-align: center!important;
  font-size: 25px!important;
  }

}




@media screen and (max-width:478px){
  .Section2{
    flex-wrap: wrap;
    justify-content: center;
    height:60vh;
  }
}

/*---------------------Section--2-----Ending-------------------------------------------------*/






/*--------Section ---------------3-----*/

.Section3{
  
  height: 100vh;
  margin-top:20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  padding: 5% 0;
}


.Section3-left1{
  width: 50%;
  padding-left:11%;
  padding-right:10%;
  text-align:left;
}

@media screen and (max-width:776px){
  .Section3-left1{
   width: 100%;
}
.Section3{
  height:100vh;
}
 
}




 
.Section3-left1 :first-child{
  font-weight: 800;
  font-size:100px;
  font-family:"Montserrat";
}
.Section3-left1 :last-child{
  color:#022249;
  font-family:"Montserrat";
  font-weight: 400;
}


/*-----*/

@media screen and (max-width:1600px){
  .Section3-left1 :last-child{
text-align: left!important;
  }
}


@media screen and (max-width:1100px){
  .Section3-left1 :first-child{
  font-size:75px!important;
  text-align: left;
  }
  .Section3-left1 :last-child{
    font-size:30px;
      }
}

@media screen and (max-width:776px){


  .Section3-right1{
    height:70%!important;
    width:70%!important;
  }


  .Section3-left1 :first-child{
    font-weight:800;
    font-size:60px;
    font-family:"Montserrat";
  }
  .Section3-left1 :last-child{
    font-size:35px;
    padding:3% 0%!important;
    text-align: left!important;
  }

  .Section3-left1 :last-child{
    text-align:left!important;
      }

}
/*------*/









@media screen and (max-width:776px){
  .Section3-left1 :first-child{
    font-weight:800;
    font-size:60px;
    font-family:"Montserrat";
  }
  .Section3-left1 :last-child{
    font-size:35px;
    padding:3% 0%!important;
  }
 
}




.Section3-right1{
  width: 50%;
  background-position: center center;
  justify-content: center;
  background-image: url("./assets/Ellipse69.png");
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

}


.Section3-right1::before{
  content:url("./assets/Group33.png");
  position: absolute;
  top:0;left:0;
  background-size: contain;
  
  
  }






.Section3-right1-content{
  display: flex;
  width:65% ;
  align-items: center;
  padding:0;margin:0;
 }


 .Section3-right1-content :first-child{
  margin:0px 10px;
  font-size: 40px;
  font-weight: 300;
  font-family:"montserrat";
  
  
  }
  .Section3-right1-content :last-child{
    font-weight: 750;
    font-size:45px;
    font-family:"montserrat";
  
    }


 .Section3-right1-content h3{
  color:white;
 }




  .Section3-right1-paragraph{
    width: 70%;
    padding:0px 30px;
    font-family:"montserrat";
    color:white;
  }


  
.Section3-right1 .Section3-third-number{
  width: 65%;
  display: flex;
  align-items: center;
}
.Section3-right1 .Section3-third-number h2{
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size: 25px;
  font-weight: 800;
  font-family: "montserrat";
  position: relative;
  color:white;

}

.Section3-right1 .Section3-third-number h2::after{
content:"";
width: 15%;
border:1px solid white;
height: 0px;
position: absolute;
display: flex;
bottom: 50%;
left:10%;
align-items: center;
}



@media screen and (max-width:1200px){
 
  .Section3-right1 .Section3-third-number h2{
    margin-top:40px
  }

.Section3-right1 .Section3-third-number h2::after{
content:"";
width: 15%;
border:1px solid white;
height: 0px;
position: absolute;
display: flex;
bottom: 50%;
left:15%;
align-items: center;
}

.Section3-right1-paragraph{
width:70%;
}

}

@media screen and (max-width:1200px){
 
  .Section3-right1 .Section3-third-number h2{
    margin-top:40px
  }

.Section3-right1 .Section3-third-number h2::after{
content:"";
width: 15%;
border:1px solid white;
height: 0px;
position: absolute;
display: flex;
bottom: 50%;
left:15%;
align-items: center;
}

.Section3-right1-paragraph{
width:70%;
}

}

@media screen and (max-width:992px){

  .Section3-right1-content h3{
    color:white;
    font-size: 35px!important;
   }
  

  .Section3-right1 .Section3-third-number h2{
    margin-top:20px;
    padding:0;
  }

.Section3-right1-paragraph{
width:90%;
font-size:16px!important;
padding-left:70px!important

}

.Section3-right1::before{
  content:url("./assets/Group33small.png");
  background-size: contain;
  height:35%;
  display: flex;
  justify-content:flex-end;
  align-items:end;
  
  
  }



}






@media screen and (max-width:776px){
.Section3-right1{
  width: 80%;
  margin:10% 0%;
  }
}



@media screen and (max-width:576px){


  .Section3{
    flex-wrap: wrap;
    justify-content: center;
    height:100vh;
    width:100%!important;
   
  }
  .Section3-left1{
    width: 100%;
    text-align: center;
  }

  .Section3-left1 :first-child{
 text-align: center;
 font-size: 60px!important;
  }

  .Section3-left1 :last-child{
 text-align:center!important;
 font-size: 25px!important;
  }


  .Section3-right1{
    width: 100%!important;
    text-align: center;
    background-size:58vh;
  
  }

  .Section3-right1-paragraph{
    width:50%;
    color:white;
    padding:0!important;
    text-align: justify;
    font-size:13px!important;
    margin-top:30px!important;
  } 


  .Section3-right1-content{
    display: flex!important;
    align-items: center!important;
    transform:translateY(30px);
    width:50%
  }

  .Section3-right1-content h3{
    font-size:25px!important;
    padding:0!important;
    margin:0!important;
  

  }
  .Section3-right1-content :last-child{
    margin-left:10px!important
  }

  .Section3-third-number{
    padding-left:20px;
    width:55%!important;
    transform:translateY(40px)
  }

  .Section3-third-number h2{
    width:70%!important
  }


  .Section3-right1 .Section3-third-number h2::after{
left:25%;
  }

}


  
  @media screen and (max-width:430px){

    .Section3{
      flex-wrap: wrap;
      justify-content: center;
      height:100vh;
      width:100%!important;
     
    }
    .Section3-left1{
      width: 100%;
      text-align: center;
    }
  
    .Section3-left1 :first-child{
   text-align: center;
   font-size: 60px!important;
    }
  
    .Section3-left1 :last-child{
   text-align:center!important;
   font-size: 25px!important;
    }
  
  
    .Section3-right1{
      width: 100%!important;
      text-align: center;
      background-size: contain;
    
    }
  
    .Section3-right1-paragraph{
      width:80%;
      color:white;
      padding:0!important;
      text-align: justify;
      font-size:10px!important;
      margin-top:5px!important;
    } 
  
  
    .Section3-right1-content{
      display: flex!important;
      align-items: center!important;
      transform:translateY(10px);
      width:80%
    }
  
    .Section3-right1-content h3{
      font-size:25px!important;
      padding:0!important;
      margin:0!important;
    
  
    }
    .Section3-right1-content :last-child{
      margin-left:10px!important
    }
  
    .Section3-third-number{
      padding-left:20px;
      width:80%!important;
      transform:translateY(10px)
    }
  
    .Section3-third-number h2{
      width:90%!important;
    }
  
  
    .Section3-right1 .Section3-third-number h2::after{
  left:20%;
  }

}





/*--------------Section--3--------Ending--------------*/








/*---------------Section  4-------Start----------------*/

.Section4{
  height:90vh;
  display:flex;
  margin-top:5%;
}



.Section4-first{
  background-image: url("Ellipse62.png");
  width: 45%;
  background-position: center center;
  justify-content: center;
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  
}

.Section4-first h1{
  font-family:"montserrat";
  font-weight:900;
  font-size:60px;
  color: #1A2807;
  letter-spacing: -1.5px;


}

.Section4-second{
  background-image:url("Group32.png");
  height:20%;
  width:10%;
  background-repeat: no-repeat;
  display:flex;
  background-position: center center;
  background-size: contain;
}


.Section4-third{
  background-image: url("Ellipse62.png");
  width: 45%;
  background-position: center center;
  justify-content: center;
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  
}

.Section4-third-content{
  display: flex;
  width:65% ;
  align-items: center;
  padding:0;margin:0;
}

.Section4-third-paragraph{
  width: 70%;
  padding:10px 30px;
  font-family:"montserrat";
  position:relative;
  
}

.Section4-third-content :first-child{
  margin-right:10px;
  font-size: 30px;
  font-weight: 500;
  font-family:"montserrat";
}

.Section4-third-content :last-child{
  font-weight: 750;
  font-size:30px;
  font-family:"montserrat";
}

.Section4-third .Section4-third-number{
  width: 65%;
  display: flex;
  align-items: center;
}
.Section4-third .Section4-third-number h2{
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size: 25px;
  font-weight: 800;
  font-family: "montserrat";
  position: relative;

}

.Section4-third .Section4-third-number h2::after{
content:"";
width: 15%;
border:1px solid black;
height: 0px;
position: absolute;
display: flex;
bottom: 50%;
left:10%;
align-items: center;
}


.Section4-third-paragraph ul li{
  color:#1A2807
}

.Section4-third::before{
  content:url("Group32new.png");
  position: absolute;
  height:40%;
  bottom:0;
  background-size: contain;
  padding-left:10%;
  padding-top:3%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/*-------------Section 4   End   ---------------------------*/



/*---------------Section  5------Start-----*/

.Section5{
  display: flex;
  align-items: center;
  margin-top:5%;
  margin-bottom:5%;
  width: 100%;
  
}


.Section5-left1{
  width: 40%;
  padding-left:10%;
}



.Section5-right1{
  width: 50%;
  padding-left:5%;
}

.Section5-right1-first-div img{
  width: 40%;
  height: 40%;
}
.Section5-right1-second-div img{
width: 40%;
height: 40%;
}
.Section5-right1-third-div img{
/* bordeR:2px solid black; */
width: 40%;
height: 40%;
}


.Section5-right1 :nth-child(1){
  display: flex;
  }
  
.Section5-right1 :nth-child(2){
    display: flex;
    }
  .Section5-right1 :nth-child(3){
      display: flex;
      }
/*---------------Section  5------Ending-----*/






/*-------Section---6----Starting--------*/

.Section6{
  height:70vh;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.Section6-first{

  width:40%;
  padding:3% 6%;
  
}

.Section6-first h1{
font-family:"montserrat";
font-weight:900;
font-size:80px;
letter-spacing: -2.76px;
color: #1A2807;

}

.Section6-second{
  border:2px solid white;
  width: 10%;
  display:flex;
  flex-direction: column;

}




.Section6-third{
width:40%;
padding:5% 5%;
}

.Section6-third .Section6-third-number{
  width: 100%;
  display: flex;
  align-items: center;
}
.Section6-third .Section6-third-number h2{
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size: 25px;
  font-weight: 800;
  font-family: "montserrat";
  position: relative;

}

.Section6-third .Section6-third-number h2::after{
content:"";
width: 15%;
border:1px solid black;
height: 0px;
position: absolute;
display: flex;
bottom: 50%;
left:10%;
align-items: center;
}

.Section6-third :nth-child(2) h2{
  font-family: "montserrat";
  font-weight: 800;

}


.Section6-third :nth-child(3) p{
  color:black;
  opacity: 2;
  padding:2% 0%;
  line-height: 25px;

}
/*-------Section---6----Ending--------*/




/*-----Section7---Start-----*/
.Section7{
  height:100vh;
  display: flex;
  align-items: center;
  margin-top:10%;
  margin-bottom:10%;
  width: 100%;
}
.Section7-first{
  width: 50%;
  display: flex;
  height: 100%;
  
}


.Section7-first-Group-image{
  width: 100%;
  display: flex;
}




.Section7-second{
  width:50%;
  padding:0% 5%;;
}

.Section7-second .Section7-second-number{
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Section7-second .Section7-second-number :nth-child(2){
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size:45px;
  font-weight:400;
  letter-spacing: -1.8px;

}

.Section7-second .Section7-second-number :nth-child(3){
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size:60px;
  font-weight:900;
  letter-spacing: -1.8px;
  font-family: "Montserrat", sans-serif;
  letter-spacing:"NaNpx"
  


}

.Section7-second-number p{
  font-family: sans-serif;
  opacity: 100;
  color:gray;  
  padding:1% 0%;
  line-height: 30px;
  opacity:1;


}

.Section7-second .Section7-second-number h2{
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size: 25px;
  font-weight: 800;
  font-family: "montserrat";
  position: relative;

}

.Section7-lets-talk-img{
  background-image:url("./assets/group64.png");
  background-size:contain;
  background-repeat: no-repeat;
  height:100%;
  width: 100%;
  padding: 5%;
  background-position:left center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family:sans-serif;
}

.Section7-second .Section7-second-number h2::after{
content:"";
width: 15%;
height: 0px;
position: absolute;
display: flex;
bottom: 50%;
left:10%;
align-items: center;
}

/*------Section7-----End-----*/


/*------Section8------------*/

.Section8{
  display: flex;
  flex-direction: column;
  height: 60vh;
  align-items: center;
  margin-top:1%
}


.Section8-heading{
  display: flex;
  justify-content: center;
  width: 100%;
}
.Section8-heading-number{
width: 10%;
display: flex;
  align-items: center;
}

.Section8 :nth-child(2){
  display: flex;
  align-items:center;
}
.Section8 :nth-child(2) h1{
text-align: center;
font-size: 60px;
}
.Section8 :nth-child(2) :first-child{
font-weight: 300;
}
.Section8 :nth-child(2) :last-child{
  font-weight: 900;
  padding-left:20px ;
  color: #1A2807;

  font-size: 60px;
}
.Section8-heading .Section8-heading-number h2{
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size: 25px;
  font-weight: 800;
  font-family: "montserrat";
  position: relative;

}

.Section8-heading .Section8-heading-number h2::after{
content:"";
width: 30%;
border:1px solid black;
height: 0px;
position: absolute;
display: flex;
bottom: 50%;
left:35%;
align-items: center;
}

/* Section8-heading-number */





/*--------Scetion8-----EnDED---------------*/





/*--------Scetion9----Start----*/
.Section9{
  margin-top:10%;
  display: flex;
  align-items: center;
  height: 80vh;
}

.Section9-left1{
width: 60%;
/* margin-left:5%; */;
/* padding:3% 1%; */
height: 100%;
display: flex;
  align-items: center;
  justify-content: center;
  /* border:2px solid red */

}
.Section9-left1-main{
  background-image:url("Ellipse54.png");;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.Section9-left1-content{
  width: 60%;
  /* border:2px solid red */
}
.Section9-left1-content .Section9-heading-number h2{
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size: 25px;
  font-weight: 800;
  font-family: "montserrat";
  position: relative;
  color:white

}

.Section9-left1-content .Section9-heading-number h2::after{
content:"";
width:10%;
border:1px solid white;
height: 0px;
position: absolute;
display: flex;
bottom: 45%;
left:7%;
align-items: center;
}
.Section9-left1-content-heading h1{
  color:white;
  width:69%;
  font-weight:200!important;
  font-size:30px!important;
  letter-spacing:1px;
  line-height: 20px;
  padding-top:20px

}

.Section9-right1{
  height: 100%;
  width: 50%;
  padding-top:2%;
 }
 .Section9-right1 img{
 width: 100%;
 height: 100%;
} 
 
/*------------Conmment Section-------------------------*/
/* .Section9-right1-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* .Section9-right1-heading button{
  padding:10px;
  width: 25%;
  background-color: #0F1419;
  color:white;
  border:1px solid #0F1419;
  border-radius:100px
} */
/* .Section9-right1-heading{
  bordeR:2px solid red
}
.Section9-right1-heading-span1{
color:#A7C5F9;
font-family: "montserrat",sans-serif;
font-weight: 600;
}
.Section9-right1-heading-span2{
  color:#000000;
  font-weight: 800;
}
.Section9-right1-heading-span3{
  color:#A7C5F9;
  font-size: 60px;
} */
/* .Section9-right1-15h{

  display: flex;
  width:100%;
  padding:2% 0%;
  justify-content: space-around;
}
.Section9-right1-15h :nth-child(2){
  font-size: 30px;
  color:#1D9BF0;
 transform: translate(100%,0%);
}  */
/*--------------Comment Section--------------------------------------*/
/*--------Scetion9----Ending----*/



/*----------Footer----------*/
.footer{
  height: 60vh;
  display: flex;
  align-items: center;
  padding:3% 5%;
  margin-top:10%;
  /* border:2px solid red */
  
}

.footer-content1{
width:20%;
height: 80%;
/* border:2px solid red; */
padding-top:5%;

}
.footer-content2{
  width: 14%;
}
.footer-content3{
  width: 14%;
}
.footer-content4{
  width: 14%;
}
.footer-content5{
  width: 40%;
  /* height: 100%; */
}

.footer-content1-main-div{
  /* bordeR:2px solid red; */
  height: 60%;
  text-align: center;
  width:80% ;
}
.footer-content1-main-div-span1{
color:#A7C5F9;
font-family: "montserrat",sans-serif;
font-weight: 600;
font-size: 30px;
}
.footer-content1-main-div-span2{
  color:#000000;
  font-weight: 800;
  font-size: 30px;
}
.footer-content1-main-div-span3{
  color:#A7C5F9;
  font-size: 60px;
}

.footer-content1-icon{
  display: flex;
  justify-content: space-around;
  width: 80%;
  /* bordeR:2px solid red; */
  padding:50px 30px 
}


.footer-content2{
  height: 80%;
  padding-top:5%;
  /* border:2px solid red */
}
.footer-content2 h4{
  /* bordeR:2px solid green; */
  padding-left:5%;
  font-size: 20px;
}
.footer-content2 h4 a{
  color:black
}
.footer-content2 ul{
  /* bordeR:2px solid red; */
  padding-left:5%
}
.footer-content2 ul li{
list-style: none;
padding:5px 0px
}

.footer-content2 ul li a{
color:black
}

.footer-content3{
height: 80%;
padding-top:5%;
/* border: 2px solid red; */
}
.footer-content3 h4{
  padding-left:5%
}
.footer-content3 h4 a{
  color:black
}
.footer-content3 ul{
  /* bordeR:2px solid red; */
  padding-left:5%
}
.footer-content3 ul li{
list-style: none;
padding:5px 0px
}

.footer-content3 ul li a{
color:black
}

.footer-content4{
  height: 80%;
  /* border:2px solid red; */
  padding-top:5%
}
.footer-content4 ul{
  padding-left:2%;
  height: 100%;
}
.footer-content4 ul li{
list-style: none;
padding:5px 0px
}

.footer-content4 ul li a{
color:black;
font-weight: 700;
}

.footer-content5{

  background-image:url("Footer-fifthone.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 40%;
  /* border:2px solid red; */

  
}
.footer-content5-background{
  /* bordeR:2px solid red; */
  /* height: 50%; */
  width:80%;
  padding:10px;
  margin:0% 10%;
  margin-top:20%
}

.footer-content5-background :nth-child(1){
  font-size:20px;
  /* border:2px solid red; */
  width: 100%;
  padding-left:10%
}
.footer-content5-background :nth-child(2){
  font-size: 14px;
  padding-left:10%
}
.footer-content5-background input{
  outline: 0;
  border-width: 0 0 1px;
  border-color:black;
  background-color:#E1FCAD;
  width: 80%;
  margin:10px 60px;
  /* border:2px solid red */
}
.footer-content5-background input:focus {
  border-color:black;
  outline:none
}


/*----------Footer----------*/
